services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    volumes:
      - ./volumes/open-webui:/app/backend/data
    ports:
      - 4000:8080
    environment:
      - WEBUI_SECRET_KEY=
      - ENABLE_ADMIN_CHAT_ACCESS=false
    restart: unless-stopped

