version: '3'

services:
  nginx:
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    volumes:
      - ./volumes/nginx/conf/:/etc/nginx/conf.d/:ro
      - ./volumes/certbot/www:/var/www/certbot/:ro
      - ./volumes/certbot/conf/:/etc/nginx/ssl/:ro
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./volumes/certbot/www/:/var/www/certbot/:rw
      - ./volumes/certbot/conf/:/etc/letsencrypt/:rw

