services:
  vikunja:
    image: vikunja/vikunja
    env_file:
      - ./.env
    ports:
      - 3456:3456
    volumes:
      - ./volumes/files:/app/vikunja/files
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: z3iuPaJaQc77TwQve7DoTJR9B
      POSTGRES_USER: vikunja
    volumes:
      - ./volumes/db:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      start_period: 30s
  redis:
    image: redis
    restart: unless-stopped
