version: '3.9'

services:
  postgres:
    container_name: postgres_container
    image: postgres:alpine
    ports:
      - 5432:5432
    env_file:
      - postgres.env
    volumes:
       - ./volumes/postgres/data:/var/lib/postgresql/data
    restart: unless-stopped
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]

