SERVER_NAME=Valheim
WORLD_NAME=World
SERVER_PASS=server_pass
SERVER_PUBLIC=false
UPDATE_CRON=0 8 * * *
RESTART_CRON=0 9 * * *
RESTART_IF_IDLE=false
BACKUPS=true
BACKUPS_CRON=0 * * * *
BACKUPS_DIRECTORY=/config/backups
BACKUPS_MAX_AGE=5
BACKUPS_MAX_COUNT=5
BACKUPS_IF_IDLE=false
BACKUPS_IDLE_GRACE_PERIOD=3600
BACKUPS_ZIP=true
SUPERVISOR_HTTP=true
SUPERVISOR_HTTP_PORT=9001
SUPERVISOR_HTTP_USER=admin
SUPERVISOR_HTTP_PASS=admin
